{% extends "base.html" %}

{% block content %}

<h1> {{ materia.pk }}</h1>
<h2>Estudiantes</h2>

<table class="table">
    <tr>
        <th>Número de cédula</th>
        <th>Nombre del estudiante</th>
        <th>Número de tutorías</th>

    <tr>

    <tr>

        {% for m in informacion %}
             <td>{{ m.cedula }}</td>
            <td>{{ m.nombre }}</td>
            <td>{{ m.num_tutorias }}</td>





    </tr>


    {% endfor %}


</table>


<h2>Generar Reportes</h2>

<a href="#" class="btn btn-success"> TUTORÍAS</a>


{% endblock %}

