{% extends "dashboard/base.html" %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Documentos Microcurriculares</h1>
</div>
<div class="row">
    <div class="col-sm">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'registro_docente:home' %}">Documentos</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ asignatura }}</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <div class="table-responsive">
            <table class="table table table-hover table-sm">
                <thead class="thead-dark">
                <tr>
                    <th>Estudiante</th>
                    <th>Cédula</th>
                    <th>Documentos</th>
                <tr>
                </thead>
                <tbody>
                {% for m in alumnos %}
                <tr>
                    {% for e in m %}
                    <td>{{ e }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'registro_docente:documentos_pdf' materia 'ADM' %}" target="_blank" class="btn btn-success">
                ADM</a>
            <a href="{% url 'registro_docente:documentos_pdf' materia 'REVEX' %}" target="_blank"
               class="btn btn-success">
                REVEX</a>
            <a href="{% url 'registro_docente:documentos_pdf' materia 'RN30' %}" target="_blank"
               class="btn btn-success">
                RN30</a>
        </div>
        <a href="{% url 'registro_docente:home' %}" class="btn btn-secondary">Regresar</a>
    </div>
</div>
{% endblock %}

